<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arts au Japon</title>
  </head>
  <body>
    <h1><%= art.name %></h1>
    <h2><%= art.history %></h2>
    <h3><%= art.techniques %></h3>
  </body>
</html>
