<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arts au Japon</title>
  </head>
  <body>
    <ul>
      <% for (let element of arts) { %>
      <li>
        <a href="/arts/<%= element._id %>">
          <h1><%= element.name %></h1>
        </a>
        <h2><%= element.history %></h2>
        <h3><%= element.techniques %></h3>
      </li>
      <% } %>
    </ul>
  </body>
</html>
