<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coutumes au Japon</title>
  </head>
  <body>
    <ul>
      <% for (let element of customs) { %>
      <li>
        <a href="/customs/<%= element._id %>">
          <h1><%= element.name %></h1>
          <h2><%= element.description %></h2>
          <h3><%= element.observation %></h3>
        </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
