<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festivals au Japon</title>
  </head>
  <body>
    <h1><%= festival.name %></h1>
    <h2><%= festival.location %></h2>
    <h3><%= festival.date %></h3>
    <p><%= festival.description %></p>
  </body>
</html>
