<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Festivals, Coutumes et Arts Japonais</title>
  </head>
  <body>
    <h1>Le Japon sous toutes ses formes</h1>
    <ul>
      <li><a href="/festivals">Festivals</a></li>
      <li><a href="/customs">Coutumes</a></li>
      <li><a href="/arts">Arts</a></li>
    </ul>
  </body>
</html>
